<%- include('../layout/header') -%>

<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 mr-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
                <h2>ایجاد دوره</h2>
            </div>
            <form class="form-horizontal" action="/admin/courses/edit" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="put">
                <%- include('../layout/errorMessages') -%>
                <input type="hidden" name="id" value="<%= course._id%>">
                <div class="form-group row">
                    <div class="col">
                        <label for="title" class="control-label font-weight-bold">عنوان دوره</label>
                        <input type="text" class="form-control" name="title" id="title" placeholder="عنوان را وارد کنید" value="<%= course.title %>">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="type" class="control-label font-weight-bold font-weight-bold">نوع دوره</label>
                        <select name="type" id="type" class="form-control">
                            <option value="vip" <%= course.type === 'vip' ? 'selected' : '' %> >اعضای ویژه</option>
                            <option value="cash" <%= course.type === 'cash' ? 'selected' : '' %> >نقدی</option>
                            <option value="free" <%= course.type === 'free' ? 'selected' : '' %>>رایگان</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="body" class="control-label font-weight-bold">متن</label>
                        <textarea rows="5" class="form-control" name="body" id="body" placeholder="متن مقاله را وارد کنید"><%= course.body %></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="images" class="control-label font-weight-bold">تصویر دوره</label>
                        <input type="file" class="form-control" name="images" id="images" placeholder="تصویر مقاله را وارد کنید" >
                    </div>
                </div>
                <div class="form-group row">
                    <% Object.entries(course.images).forEach(([size , image]) => { %>
                    <div class="col-sm-2">
                        <label class="control-label">
                            <%= size %>
                            <input type="radio" name="imagesThumb" value="<%= image %>" checked="">
                            <a href="<%= image %>" target="_blank"><img src="<%= image %>" width="100%"></a>
                        </label>
                    </div>
                    <% }) %>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="price" class="control-label font-weight-bold">قیمت</label>
                        <input type="text" class="form-control" name="price" id="price" placeholder="قیمت ها را وارد کنید" value="<%= course.price %>">
                    </div>
                    <div class="col">
                        <label for="tags" class="control-label font-weight-bold">تگ ها</label>
                        <input type="text" class="form-control" name="tags" id="tags" placeholder="تگ ها را وارد کنید" value="<%= course.tags %>">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <button type="submit" class="btn btn-danger">ارسال</button>
                    </div>
                </div>
            </form>
        </main>
        <%- include('../layout/sidebar') -%>
    </div>
</div>


<%- include('../layout/footer') -%>