<%-include('../layout/header') -%>


<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 mr-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
                <h2>دوره ها</h2>
                <div class="btn-group">
                    <a href="/admin/courses/create" class="btn btn-sm btn-primary">ایجاد دوره جدید</a>
                    <a href="/admin/episodes" class="btn btn-sm btn-danger">بخش ویدیوها</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>عنوان مقاله</th>
                        <th>تعداد نظرات</th>
                        <th>مقدار بازدید</th>
                        <th>وضعیت دوره</th>
                        <th>تنظیمات</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% courses.docs.forEach(course => { %>
                    <tr>
                        <td><a href="/courses/<%=course.slug%>>"><%= course.title %></a></td>
                        <td><%= course.commentCount %></td>
                        <td><%= course.viewCount %></td>
                        <td>
                            <%= course.typeToPersian() %>
                        </td>
                        <td>
                            <a href="/admin/courses/<%= course._id%>/edit"  class="btn btn-primary">ویرایش</a>
                            <a href="/admin/courses/<%= course._id%>/delete"  class="btn btn-danger">حذف</a>
                        </td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
                <!--<%-include('../layout/pagination') -%>-->
            </div>
        </main>
        <%-include('../layout/sidebar') -%>
    </div>
</div>

<%-include('../layout/footer') -%>
    
    