<%-include('../layout/header') -%>


<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 mr-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
                <h2>دوره ها</h2>
                <div class="btn-group">
                    <a href="/admin/courses/create" class="btn btn-sm btn-primary">ایجاد دوره جدید</a>
                    <a href="/admin/episodes" class="btn btn-sm btn-danger">بخش ویدیوها</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>عنوان مقاله</th>
                        <th>تعداد نظرات</th>
                        <th>مقدار بازدید</th>
                        <th>وضعیت دوره</th>
                        <th>تنظیمات</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% courses.docs.forEach(course => { %>
                    <tr>
                        <td><a href="/courses/<%=course.slug%>>"><%= course.title %></a></td>
                        <td><%= course.commentCount %></td>
                        <td><%= course.viewCount %></td>
                        <td>
                            <%= course.typeToPersian() %>
                        </td>
                        <td>
                            <a href="/admin/courses/<%= course._id%>/edit"  class="btn btn-primary">ویرایش</a>
                            <a href="/admin/courses/<%= course._id%>/delete"  class="btn btn-danger">حذف</a>
                        </td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
                <!--<%-include('../layout/pagination') -%>-->
            </div>
        </main>
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            داشبورد
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            سفارشات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/courses">
                            <span data-feather="shopping-cart"></span>
                            دورها
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            کاربران
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            گزارشات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            نظرات
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>گزارشات ذخیره شده</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            این ماه
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            ماه گذشته
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            شبکه های اجتماعی
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            فروش سالانه
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<%-include('../layout/footer') -%>
    
    