<%- include('../layout/header') -%>


<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 mr-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
                <h2>ویدیو ها</h2>
                <div class="btn-group">
                    <a href="/admin/episodes/create" class="btn btn-sm btn-primary">افزودن جلسه جدید</a>
                    <a href="/admin/courses" class="btn btn-sm btn-danger">بخش دوره‌ها</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>عنوان دوره</th>
                        <th>تعداد دانلود</th>
                        <th>تعداد نظرات</th>
                        <th>مقدار بازدید</th>
                        <th>وضعیت ویدیدو</th>
                        <th>تنظیمات</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% episodes.docs.forEach(episode => { %>
                    <tr>
                        <td><a href="/episodes/آپدیت-جدید-راکت"><%= episode.title %></a></td>
                        <td><%= episode.downloadCount %></td>
                        <td><%= episode.commentCount %></td>
                        <td><%= episode.viewCount %></td>
                        <td>
                            <%= episode.typeToPersian() %>
                        </td>
                        <td>
                            <a href="/admin/episodes/<%= episode._id %>/edit" class="btn btn-primary">ویرایش</a>
                            <a href="/admin/episodes/<%= episode._id %>/delete" class="btn btn-danger">حذف</a>
                        </td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>

                <%- include('../layout/pagination') -%>
            </div>
        </main>
        <%- include('../layout/sidebar') -%>
    </div>
</div>

<%- include('../layout/footer') -%>

